body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #111;
}

header {
  background: #000;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  background: #f4f4f4;
}

button {
  padding: 10px 25px;
  background: #000;
  color: #fff;
  border: none;
}

footer {
  text-align: center;
  padding: 15px;
  background: #000;
  color: #fff;
}
